:root {
  --primary-bg-color: #15202b; /* Dark Blue-Gray */
  --text-color: #ffffff; /* White */
  --button-bg-color: #1d9bf0; /* Bright Blue */
  --hover-bg-color: rgba(79, 79, 79, 0.1); /* Light Gray with transparency */
  --border-color: #37444d; /* Medium Gray */
  --grey-font: #8a98a5;
}

body {
  font-size: 15px;
  margin: 0px 100px;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  color-scheme: dark;
}

.container {
  display: flex;
  justify-content: space-between;
}

.left-sidebar {
  font-size: 1.3rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  /* overflow-y: auto; */
  position: sticky;
  top: 0;
}

.navigation {
  display: flex;
  flex-direction: column;
}

.navigation a,
.left-sidebar a {
  text-decoration: none;
  color: inherit;
  padding: 12px;
}

.navigation a i {
  font-size: 1.5rem;
  margin-right: 12px;
  font-weight: bold;
}

.rounded-button {
  background-color: var(--button-bg-color);
  border-radius: 50px;
  display: block;
  width: 200px;
  text-align: center;
}

.personal-profile {
  display: flex;
  gap: 12px;
}

.personal-profile img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.personal-profile p {
  font-size: 15px;
  margin: 0;
}

/* Hover effect for nav */
.navigation a:hover,
.personal-profile:hover {
  background-color: var(--hover-bg-color);
  border-radius: 50px;
}

/* center content */
.center-content {
  flex: 2;
  border-left: 1px var(--border-color) solid;
  border-right: 1px var(--border-color) solid;
}

.top-options {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}

.top-options .top-option-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 60px;
}

.top-option-btn p {
  margin: 0;
  display: flex;
  align-items: center;
}

.top-option-btn:hover {
  background-color: var(--hover-bg-color);
}

.tweet-box {
  display: flex;
  gap: 10px;
  padding: 20px;
  border-bottom: 1px solid var(--border-color);
}

.tweet-box .user-pic img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.tweet-inner-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.message-box input {
  width: 100%;
  padding-bottom: 60px;
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--border-color);
  margin: 0 0 10px 0;
}

.message-box input[type="text"]:focus {
  outline: none;
}

.message-options {
  display: flex;
  justify-content: space-between;
}

.message-icons {
  display: flex;
  gap: 15px;
}

.message-icons a {
  text-decoration: none;
  color: var(--button-bg-color);
}

.post-icon {
  background-color: var(--button-bg-color);
  border-radius: 50px;
  display: block;
  padding: 7px 20px;
  text-align: center;
}

/* individual tweets */
.individual-tweets {
  display: flex;
  gap: 15px;
  padding: 15px 20px;
  border-bottom: 1px solid var(--border-color);
}

.individual-tweets:hover {
  cursor: pointer;
}

.individual-tweets p {
  margin: 0;
}

.tweet-content {
  display: flex;
  flex-direction: column;
}

.individual-tweets .user-profile img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.individual-tweets .username {
  display: flex;
  gap: 5px;
}

.username .display-name {
  font-weight: 600;
}
.username .at-username,
.username .time-posted {
  color: var(--grey-font);
}

.individual-tweets .user-tweet-media {
  padding: 10px 0;
}

.individual-tweets .user-tweet-media img {
  width: 100%;
  border-radius: 20px;
}

.user-tweet-icons {
  display: flex;
  justify-content: space-between;
  color: var(--grey-font);
}

.user-tweet-icons i {
  font-style: normal;
  display: flex;
  align-items: center;
}

.user-tweet-icons i::after {
  content: attr(data-text);
  margin-left: 7px;
  font-style: normal;
}

/* right sidebar */
.right-sidebar {
  flex: 1;
}
